# ==========================================
# OpenWard Backend Environment Configuration
# ==========================================

# Server Settings
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# ==========================================
# SSH Remote Gateway Settings
# ==========================================
# IP Address or Hostname of the remote WireGuard server (e.g., OVH gateway)
OVH_IP=xxxx
OVH_INTERNAL_IP=xxxx
# SSH Port (Default: 22, Change if your gateway uses a custom SSH port)
SSH_PORT=22
# The username to connect as (Ideally a highly restricted sudoer, NO root)
SSH_USER=username
# Absolute path to the Ed25519 PRIVATE key file. (NO passphrases encoded here, NO hardcoded secrets)
# Example: /home/nodeapp/.ssh/id_ed25519
SSH_PRIVATE_KEY_PATH=/home/username/.ssh/sshkey

# The public key of the WireGuard server (used in client config generation)
WG_SERVER_PUBLIC_KEY=your_server_public_key_here
WG_PORT=51820 # change if needed
