# ==========================================
# OpenWard Backend Environment Configuration
# ==========================================

# Server Settings
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# ==========================================
# SSH Remote Gateway Settings
# ==========================================
# IP Address or Hostname of the remote WireGuard server (e.g., SERVER gateway)
WG_PUBLIC_ENDPOINT=XXX
PUBLIC_SERVER_INTERNAL_IP=10.200.200.1
# SSH Port (Default: 22, Change if your gateway uses a custom SSH port)
SSH_PORT=22
# The username to connect as (Ideally a highly restricted sudoer, NO root)
SSH_USER=username
# The public key of the WireGuard server (used in client config generation)
SSH_PRIVATE_KEY_PATH=/home/user/.ssh/sshkey
WG_SERVER_PUBLIC_KEY=XXX
WG_PORT=51820